.uiw {
  position: fixed;
  left: 0;
  z-index:1000;
  right: 0;
  top: 0;
  bottom: 0;
  background: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  pointer-events: none;
}

.uic .progress {
  position: absolute;
  content: '';
  top: -3px;
  left: 0;
  width: 0%;
  bottom: 0;
  z-index: -1;
  transition: 0.01s;
  background: green;
  animation-name: loading;
  animation-timing-function: linear;
  border-radius: 6px;
}
.uic .progress-back {
  position: absolute;
  background: pink;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.uic:hover .progress {
  background: #c1d5c1;
}
@keyframes loading {
  0% {opacity: 0;width: 5%;}
  2% {opacity: 1}
  98% {opacity: 1;}
  100% {
    width: 100%;
    opacity: 0;
  }
}
.uic {
  pointer-events: auto;
  position: relative;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
  transition: 0.1s;
  cursor: pointer;
  width: 400px;
  padding: 20px;
  background: white;
}
.uic:hover {
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.uic .search {
  opacity: 0;
  display: inline;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  width: 45px;
  height: 45px;
  padding: 8px;
  z-index: 90;
  transition: opacity 0.3s, transform 0.3s;
  cursor: help;
}
.uic:hover .search {
  opacity: 0.5;
  transition: opacity 0.1s;
}
.uic .search:hover {
  transform: scale(1.00);
  opacity: 1;
  z-index: 101;
  filter: drop-shadow(0 0 4px rgba(0,0,0,0.2));
  transition: opacity 0.1s, transform 0.3s;
}
.uic p {
  font-family: Rubik!important;
  font-size: 20px!important;
  position: relative;
  pointer-events: none;
  padding: 0;
  margin: 0;
  z-index: 100;
}
.uic:after {
  content: '';
  position: absolute;
  top: 0px;
  right: 7px;
  opacity: 0;
  transition: 0.1s;
}
.uic:hover:after {
  opacity: 1;
}
